./venv/
/charts/*.html
./data/
./pycache/
./__pycache__/
data.json
job.txt
old main.py
test*.py
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
tw.py
.env
.streamlit/secrets.toml
app-link.txt
sample-data.json
sample.json
coin_ids.json
